// _variables.scss
$primary-color: #3D5EE1;
$primary-color-hover: #314bb6;
$background-home: white;

$button-color: #6155F5;
$sidebar-color: #847afa;
$button-hover-color: #473db7;

$background: #F5F4F9;

$form-login: #ECECEC;

$background-dashboard: #4a4a4a;

$button-delete: #f44336;
$button-delete-hover: #da190b;