// main.scss
@import "./abstracts/variables";

@import "./base/reset";
@import "./base/global";
@import "./base/typography";

@import "./components/button";
@import "./components/card";
@import "./components/modal";


.ant-message {
  z-index: 9999 !important;
  opacity: 1 !important;
  position: fixed !important;
  top: 20px !important;
}


