@import "../../style/abstracts/_variables.scss";
.signup {
    margin: -10px 0px;
}
.signup-divider {
    margin: 10px;
}
.send-otp {
    cursor: pointer;
    &:hover {
        color: $primary-color;
    }
}